* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.body {
    font-size: 0.875rem;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    font-weight: 300;
    background-color:white;
    padding: 0px 20% 15px;
    flex-direction: column;
    overflow-x: hidden;
    /* background-color: green; */
};

h3 {
    color: #020402;
    font-weight: 500;
}

h4 {
    color: #020402;
    font-weight: 500;
    font-size: 14px;
}

